<div class="container">
  <div class="row">
    <div class="col-12 float-right my-3">
      <a routerLink="../../">
        <i class="fa fa-arrow-left"></i>
        Back
      </a>
    </div>
  </div>
  <br>

  <div *ngIf="episode !== undefined" class="row">
    <div class="col-12 col-sm-4">
      <img *ngIf="episode.image == undefined || episode.image.medium == undefined"
           class="card-img" src="{{noPreviewImage}}">
      <img
        *ngIf="episode.image != null && episode.image.medium != null"
        class="card-img" src="{{episode.image.medium}}">
    </div>
    <div class="col-12 col-sm-8">
      <h5>
        S{{episode.season}} E{{episode.number}}. {{episode.name}}
      </h5>
      <p [innerHTML]="episode.summary"></p>
      <p>
        <small class="text-muted">Air-date: {{episode.airdate}}</small>
      </p>
    </div>
  </div>
  <br><br>

  <div *ngIf="loggedInUser === undefined || loggedInUser === null
  || loggedInUser.role === 'FACULTY'">

    <div class="alert alert-info" role="alert">
      You have to be logged in student to submit your analysis.
      <a class="alert-link" routerLink="/login">Click here to Login</a>
    </div>
  </div>


  <div *ngIf="loggedInUser !== undefined && loggedInUser !== null
  && loggedInUser.role !== 'FACULTY'">
    <div class="form-group">
      <label
        class="col-form-label"
        for="textArea"><h3>Analysis :</h3> (Note that students are only allowed to submit one analysis per
        episode)</label>
      <textarea
        [(ngModel)]="content"
        [disabled]="submittedAlready"
        class="form-control" id="textArea" rows="4"></textarea>
    </div>
    <br>
    <button
      (click)="submitAnalysis()"
      [disabled]="submittedAlready"
      class="btn btn-secondary float-right"
      data-target="#exampleModal" data-toggle="modal">Submit
    </button>
  </div>

  <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog"
       tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-success text-white">
          <h3 class="modal-title " id="exampleModalLabel">Submission complete</h3>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Analysis submitted successfully</h4>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>

  <br>

  <app-analysis-previously-submitted
    (notify)="onNotify($event)"
    [episodeId]="episodeId"
    [showId]="showId">

  </app-analysis-previously-submitted>
  <br>
  <br>

</div>
