<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          data-target="#navbarSupportedContent"
          data-toggle="collapse"
          type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


      <app-search-show></app-search-show>

      <span class="float-right">
          <app-sign-in-button></app-sign-in-button>
        </span>
    </ul>
  </div>

</nav>


<div class="container">

  <div *ngIf="loggedInUser.role === 'STUDENT'">

    <app-saved-show-tile [showsToBeDisplayed]="analysedShows"
                         [headingToBeDisplayed]="'Analysed By You'"
                         [isSavedShow]="true">

    </app-saved-show-tile>

  </div>

<!--  <div *ngIf="loggedInUser.role === 'FACULTY'" >-->
<!--    <app-saved-show-tile [showsToBeDisplayed]="reviewedShows"-->
<!--                         [headingToBeDisplayed]="'Reviewed By You'"-->
<!--                         [isSavedShow]="true"-->
<!--    ></app-saved-show-tile>-->
<!--  </div>-->

<!--  <div *ngIf="loggedInUser.role === 'FACULTY'">-->

<!--    <app-saved-show-tile [showsToBeDisplayed]="toBeReviewedShows"-->
<!--                         [headingToBeDisplayed]="'To Be Reviewed'"-->
<!--                         [isSavedShow]="true">-->

<!--    </app-saved-show-tile>-->

<!--  </div>-->



  <div>

    <app-saved-show-tile [showsToBeDisplayed]="showIndex"
                         [headingToBeDisplayed]="'Latest Shows'"
                         [isSavedShow]="false">

    </app-saved-show-tile>

  </div>
</div>
