<span
  [ngClass]="{'badge-danger': genre == 'Action',
         'badge-warning': genre == 'Adventure',
         'badge-primary': genre == 'Children',
         'badge-info': genre == 'Sports',
         'badge-dark': genre == 'Horror',
         'badge-drama': genre == 'Drama',
         'badge-crime text-white': genre == 'Crime',
         'badge-dark': genre == 'Thriller',
         'badge-comedy': genre == 'Comedy',
         'badge-romance text-white': genre == 'Romance',
         'badge-secondary': genre == 'History',
         'badge-success': genre == 'Science-Fiction'}"
  class="badge my-2 mr-2">
        {{genre}}
      </span>
