.badge-drama{
  background-color: #ed969e;
}
.badge-crime{
  background-color: brown;
  color: white;
}
.badge-comedy{
  background-color: chartreuse;
}
.badge-romance{
  background-color: red;
  color: white;
}
.badge-fantasy{
  background-color: #6f42c1;
  color: white;
}
.badge-mystery{
  background-color: #0f6674;
  color: white;
}
.badge-anime{
  background-color: aqua;
}
.badge-western{
  background-color: burlywood;
}
.badge-family{
  background-color: #fd7e14;
}
.badge-war{
  background-color: #856404;
  color: white;
}
.badge-sci-fi{
 background-color: chartreuse;
 }
.badge-thriller{
  background-color: #0b2e13;
  color: white;
}
