<span
  [ngClass]="{'badge-danger': genre == 'Action',
         'badge-warning': genre == 'Adventure',
         'badge-primary': genre == 'Children',
         'badge-info': genre == 'Sports',
         'badge-dark': genre == 'Horror',
         'badge-drama': genre == 'Drama',
         'badge-crime': genre == 'Crime',
         'badge-thriller': genre == 'Thriller',
         'badge-comedy': genre == 'Comedy',
         'badge-romance': genre == 'Romance',
         'badge-secondary': genre == 'History',
         'badge-war': genre == 'War',
         'badge-fantasy': genre == 'Fantasy',
         'badge-anime': genre == 'Anime',
         'badge-western': genre == 'Western',
         'badge-family': genre == 'Family',
         'badge-mystery': genre == 'Mystery',
         'badge-sci-fi': genre == 'Science-Fiction'}"
  class="badge my-2 mr-2">
        {{genre}}
      </span>
