<div class="container mt-5">
<h1>Login</h1>

  <div *ngIf="invalidCredentialFlag" class="row alert alert-danger">
     Invalid credentials. Please check your username and password again.
  </div>


<div class="form-group row">
  <label
    for="username"
    class="col-sm-2 col-form-label">
    Username </label>
  <div class="col-sm-6">
    <input
      [(ngModel)]="username"
      type="text"
      class="form-control"
      id="username"
      placeholder="Alice">
  </div>
</div>
<div class="form-group row">
  <label for="password" class="col-sm-2 col-form-label">
    Password </label>
  <div class="col-sm-6">
    <input
      (keyup.enter)="login(username,password)"
      [(ngModel)]="password"
      type="{{showPassword ? 'text':'password'}}"
      class="form-control wbdv-password-fld"
      id="password"
      placeholder="123qwe#$%">

  </div>
  <div class="pt-3">
    <i *ngIf="showPassword" (click)="togglePasswordVisibility()" class="fas fa-eye"></i>
    <i *ngIf="!showPassword" (click)="togglePasswordVisibility()" class="fa fa-eye-slash"></i>
  </div>

</div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label"></label>
  <div class="col-sm-6">
    <button
      class="btn btn-primary btn-block"
      (click)="login(username, password)">
      Sign in
    </button>
    <br>
    <span class="float-right"><a routerLink="/register"
                                 class="float-right">Register</a></span>

  </div>

</div>
</div>
