<div class="container">
  <div class="row">


<label class="col-sm-2"></label>
    <span class="col-sm-6">
      <input
        (keyup.enter)="searchShow(keyword)"
        [(ngModel)]="keyword"
        aria-label="Search"
        [defaultValue]=""
        class="form-control mr-sm-2"
        placeholder="Enter a keyword to search shows. For eg. Game"
        type="text">
    </span>

    <span class="col-sm-3 ">
      <button
        (click)="searchShow(keyword)"
        class="btn btn-block btn-primary my-2 my-sm-0">
        Search by keywords
      </button>
    </span>

  </div>
</div>

