
<div class="container-fluid">

  <div class="row py-3">


    <span class="col-1"></span>
    <span class="col-sm-7">
      <input
        (keyup.enter)="searchShow(keyword)"
        [(ngModel)]="keyword"
        placeholder="Enter a keyword to search shows. For eg. Game"
        class="form-control mt-2">
    </span>

    <span class="col-sm-2">
      <button
        (click)="searchShow(keyword)"
        class="mt-2 btn btn-block btn-success">
          Search
      </button>
    </span>

  </div>
  <app-result-grid   ></app-result-grid>
</div>
