<script src="analysis-previously-submitted.component.ts"></script>
<div *ngIf="analysisList != undefined">
  <hr>
  <br>

    <select
      (ngModelChange)="filterMyAnalysis()"
      [(ngModel)]="whoseSubmissions"
      class="form-control form-control-lg bg-light">
      <option
        *ngIf="this.loggedInUser.role == 'FACULTY'"
        [ngValue]=0>All submissions
      </option>
      <option
        *ngIf="this.loggedInUser.role == 'STUDENT'"
        [ngValue]=1>My submissions
      </option>
      <option
        *ngIf="this.loggedInUser.role == 'FACULTY'"
        [ngValue]=2>Submissions from my pupils
      </option>
    </select>


  <div *ngIf="this.loggedInUser.role == 'FACULTY' && analysisList.length === 0">
    <h5> No student has submitted analysis on this episode yet</h5>
  </div>

  <div *ngIf="this.loggedInUser.role == 'STUDENT' && analysisList.length === 0">
    <h5> You have not submitted analysis on this episode yet</h5>
  </div>

  <div *ngIf="analysisList.length !== 0">
    <div *ngFor="let analysis of analysisList.slice().reverse()" class="card my-4">
      <div class="card-header">
        <span class="card-title">
          <a routerLink="/profile/{{analysis.userIdOfStudent}}">
            {{analysis.studentsFullName}}
          </a>
        </span>
        <span class="float-right">

          <button
            (click)="editAnalysis()"
            class="btn btn-warning mx-2">
              <i
                (click)="editAnalysis()"
                class="fa fa-pencil-alt"></i>
          </button>

          <button
            (click)="deleteAnalysis(analysis.id)"
            class="btn btn-danger mx-2">
              <i
                (click)="deleteAnalysis(analysis.id)"
                class="fa fa-trash"></i>
          </button>

        </span>
      </div>
      <div class="card-body">
        <p
          *ngIf="!analysisEdit"
          class="card-text">
          {{analysis.content}}
        </p>
        <textarea
          *ngIf="analysisEdit">

        </textarea>


      </div>
      <div class="card-footer">
        <span class="float-right text-muted">{{analysis.dateOfSubmission}}</span>
      </div>
    </div>

    <br>

    <div>
      <app-analysis-review
        [analysis]="analysisList">
      </app-analysis-review>
    </div>

    <br>
  </div>
</div>
