<div *ngIf="this.loggedInUser!= null && this.loggedInUser.role == 'STUDENT'">

  <div *ngIf="this.review === null || this.review === undefined">
    <h5>Submission is yet to be reviewed.</h5>
  </div>
  <div *ngIf="this.review != null || this.review != undefined">

  </div>
</div>

<div *ngIf="this.loggedInUser!= null && this.loggedInUser.role == 'FACULTY'">

  <div *ngIf="this.review === null || this.review === undefined || this.isEditing === true">

    <label for="feedbackField" class="control-label">Feedback</label>
    <textarea
      [(ngModel)]="feedback"
      class="form-control" id="feedbackField" rows="4">
    </textarea>
    <br>
    <div class="row">
<!--      <select name="Grade" [(ngModel)]="grade">-->
<!--        <option *ngFor="let number of gradeValues" [ngValue]="number">{{number}}</option>-->
<!--      </select>-->
    </div>

    <button
      (click)="this.submitReview()"
      class="btn btn-secondary float-right"
      data-target="#exampleModal" data-toggle="modal">Submit
    </button>
  </div>

  <div *ngIf="this.review != null || this.review != undefined">

    <div>
    <label for="feedbackField" class="control-label float-left">Feedback</label>
      <div class="row">
      <button
        (click)="allowEditing()"
        class="btn btn-info float-right">
        Edit
        <i
          (click)="allowEditing()"
          class="fa fa-pencil-alt"></i>
      </button>
        <button
          (click)="deleteReview()"
          class="btn btn-info float-right">
          Edit
          <i
            (click)="allowEditing()"
            class="fa fa-trash-alt"></i>
        </button>
      </div>
    </div>
     <textarea
       [(ngModel)]="feedback"
       class="form-control" id="feedbackNonField" rows="4" disabled="true">
    </textarea>

    <br>
<!--    <div class="row">-->
<!--      <label class="custom-control-label">Grade</label>-->
<!--      <label class="custom-control-label">{{this.grade}}</label>-->
<!--    </div>-->

  </div>

  <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog"
       tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-success text-white">
          <h3 class="modal-title " id="exampleModalLabel">Review complete</h3>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Review submitted successfully</h4>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
