<div class="container">
  <div class="row">
    <div class="col-12 float-right my-3">
      <a routerLink="../../">
        <i class="fa fa-arrow-left"></i>
        Back
      </a>
    </div>
  </div>
  <br>
  <div class="bg-light p-5 m-5 rounded">

    <div class="py-5">

      <h2 *ngIf="!ownAccount">Profile</h2>
      <h2 *ngIf="ownAccount">
        My profile
        <button
          (click)="toggleEditing()"
          *ngIf="!editing"
          class="btn btn-info">
          Edit
          <i
            (click)="toggleEditing()"
            class="fa fa-pencil-alt"></i>
        </button>
        <button
          (click)="toggleEditing()"
          *ngIf="editing"
          class="btn btn-success">
          Save
          <i
            (click)="toggleEditing()"
            class="fas fa-check"></i>
        </button>
      </h2>
    </div>

    <br>
    <br>

    <div class="row p-4">

      <div class="col-4 col-sm-3">
        <label
          class="col-form-label"
          for="firstNameFld">
          First Name :
        </label>
      </div>
      <div class="col-8 col-sm-6">
        <input
          [(ngModel)]="firstName"
          [disabled]="!editing"
          class="form-control" id="firstNameFld">
      </div >
      <div class="col" *ngIf="editing && firstName.length == 0">
        This Field Cannot Be Blank
      </div>
    </div>

    <div class="row p-4 my-3">
      <div class="col-4 col-sm-3">
        <label
          class="col-form-label"
          for="lastNameFld">
          Last Name :
        </label>
      </div>
      <div class="col-8 col-sm-6">
        <input
          [(ngModel)]="lastName"
          [disabled]="!editing"
          class="form-control" id="lastNameFld">
      </div>
      <div class="col" *ngIf="editing && lastName.length == 0">
        This Field Cannot Be Blank
      </div>
    </div>

    <div class="row p-4 my-3">
      <div class="col-4 col-sm-3">
        <label
          class="col-form-label"
          for="usernameFld">
          username :
        </label>
      </div>
      <div class="col-8 col-sm-6">
        <input
          [(ngModel)]="username"
          [disabled]="!editing"
          class="form-control" id="usernameFld">
      </div>
      <div class="col" *ngIf="editing && username.length == 0">
        This Field Cannot Be Blank
      </div>
    </div>

    <div class="row p-4 my-3">
      <div class="col-4 col-sm-3">
        <label
          class="col-form-label"
          for="passwordFld">
          Password :
        </label>
      </div>
      <div class="col-8 col-sm-6">
        <input
          [(ngModel)]="password"
          [disabled]="!editing"
          [type]="editing?'text' : 'password'"
          class="form-control" id="passwordFld">
      </div>
      <div class="col" *ngIf="editing && password.length == 0">
        This Field Cannot Be Blank
      </div>
    </div>

    <div class="row p-4 my-3">
      <div class="col-4 col-sm-3">
        <label
          class="col-form-label"
          for="phoneNumberFld">
          Phone Number :
        </label>
      </div>
      <div class="col-8 col-sm-6">
        <input
          [(ngModel)]="phoneNumber"
          [disabled]="!editing"
          class="form-control" id="phoneNumberFld">
      </div>
      <div class="col" *ngIf="editing && phoneNumber.toString().length != 10">
        Invalid Phone Number.
      </div>
    </div>

    <div class="row p-4 my-3">
      <div class="col-4 col-sm-3">
        <label
          class="col-form-label"
          for="emailFld">
          Email Id :
        </label>
      </div>
      <div class="col-8 col-sm-6">
        <input
          [(ngModel)]="email"
          [disabled]="!editing"
          class="form-control" id="emailFld">
      </div>
      <div class="col" *ngIf="editing && email.length == 0">
        This Field Cannot Be Blank
      </div>
    </div>

    <ng-container *ngIf="(this.loggedInUser.role == 'FACULTY') || (ownAccount)">
      <div class="row p-4 my-3">
        <div class="col-4 col-sm-3">
          <label
            class="col-form-label">
            Previous submissions :
          </label>
        </div>
      </div>

      <br>
      <div *ngFor="let analysis of mySubmissions">
        <div class="card bg-light my-5">
          <div class="card-header">
            <a routerLink="/details/{{analysis.show.id}}"><b>{{analysis.show.name}}</b></a>
          </div>
          <div class="card-body">
            <a
              routerLink="/details/{{analysis.show.id}}/episodes/{{analysis.episode.id}}/analysis"
              class="card-title">Episode name : {{analysis.episode.episodeName}}</a>
            <hr>
            <br>
            <p class="card-text">
              {{analysis.content}}
            </p>
          </div>
          <div class="card-footer text-muted">
            <span class="float-right">{{analysis.dateOfSubmission}}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</div>
