<div class="container">
  <a class="float-right" routerLink="/">
    <i class="fa fa-chevron-left p-2"></i>
    <small>Back to search page</small>
  </a>
  <h2 class="mt-5">
    {{showDetails.name}}
  </h2>
  <br>

  <div *ngIf="showDetails.genres != undefined && showDetails.genres.length >= 1">
  <span *ngFor="let genre of showDetails.genres">
      <app-show-genres [genre]="genre"></app-show-genres>
    </span>
  </div>

  <div *ngIf="shouldShowDetails == true" class="row bg-light">

    <div class="col-md-4 col-sm-5 mb-3">
      <br>
      <img *ngIf="showDetails.image != undefined" src="{{showDetails.image.medium}}">
      <img class="h-75 w-50" *ngIf="showDetails.image == undefined" src='/assets/images/No_Image_Available.jpg'>
    </div>
    <div class="col-md-8 col-sm-7 px-3">
      <br>
      <dl class="row">
        <dt *ngIf="showDetails.language" class="col-6">Language</dt>
        <dd *ngIf="showDetails.language" class="col-6">{{showDetails.language}}</dd>
        <dt *ngIf="showDetails.type" class="col-6">Type</dt>
        <dd *ngIf="showDetails.type" class="col-6">{{showDetails.type}}</dd>
        <dt *ngIf="showDetails.runtime" class="col-6">Runtime of episode</dt>
        <dd *ngIf="showDetails.runtime" class="col-6">{{showDetails.runtime}} minutes</dd>
        <dt *ngIf="showDetails.premiered" class="col-6">Premiere date</dt>
        <dd *ngIf="showDetails.premiered" class="col-6">{{showDetails.premiered}}</dd>
        <dt *ngIf="showDetails.status" class="col-6">Status</dt>
        <dd *ngIf="showDetails.status" class="col-6">
          <span
            [ngClass]="{'badge-danger': showDetails.status == 'Ended',
            'badge-secondary': showDetails.status == 'To Be Determined',
            'badge-warning': showDetails.status == 'In Development',
            'badge-success': showDetails.status == 'Running'}"
            class="badge" >
          {{showDetails.status}}
        </span>
        </dd>
      </dl>
    </div>
  </div>
  <br>
  <div class="my-3" *ngIf="shouldShowDetails == true">
    <h4>Summary:</h4>
    <div
      [innerHTML]="showDetails.summary" *ngIf="showDetails.summary != ''">
      {{showDetails.summary}}
    </div>
    <div *ngIf="showDetails.summary == ''">
      <p>No summary found</p>
    </div>

  </div>

</div>
