<div class="container mt-5">
  <h1>Register</h1>
  <div *ngIf="this.registrationSuccessful" class="alert alert-success" role="alert">
    Registration Successful.
    You will be redirected to home page in 5 seconds
    <a (click)="redirectManually()" class="alert-link pointerOnHover">
      click here
    </a> to redirect now.

  </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="firstNameFld">
        First Name  <sup class="text-danger">*</sup>  :
      </label>
      <div class="col-sm-6">
        <input
          [(ngModel)]="firstName"
          class="form-control"
          id="firstNameFld"
          placeholder="Alice"
          type="text"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="lastNameFld">
        Last Name  <sup class="text-danger">*</sup>  :
      </label>
      <div class="col-sm-6">
        <input
          [(ngModel)]="lastName"
          class="form-control"
          id="lastNameFld"
          placeholder="Wonderland"
          type="text"/>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="usernameFld">
        Username  <sup class="text-danger">*</sup>  :
      </label>
      <div class="col-sm-6">
        <input
          [(ngModel)]="userName"
          class="form-control"
          id="usernameFld"
          placeholder="alice"
          type="text"/>
      </div>
    </div>

    <div class="form-group row">
      <label
        class="col-sm-2 col-form-label"
        for="passwordFld">
        Password <sup class="text-danger">*</sup>  :
      </label>

      <div class="col-sm-6">

        <input
          [(ngModel)]="password"
          class="form-control"
          id="passwordFld"
          placeholder="123qwe#$%"
          type="{{showPassword ? 'text':'password'}}"
        />

      </div>
      <div class="pt-3">
        <i *ngIf="showPassword" (click)="togglePasswordVisibility()" class="fas fa-eye"></i>
        <i *ngIf="!showPassword" (click)="togglePasswordVisibility()" class="fa fa-eye-slash"></i>
      </div>

    </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="phoneNumberFld">
      Phone No.  <sup class="text-danger">*</sup>  :
    </label>
    <div class="col-sm-6">
      <input
        [(ngModel)]="phoneNumber"
        class="form-control"
        id="phoneNumberFld"
        placeholder="1234567890"
        type="text"/>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="emailFld">
      Email Id  <sup class="text-danger">*</sup>  :
    </label>
    <div class="col-sm-6">
      <input
        [(ngModel)]="email"
        class="form-control"
        id="emailFld"
        placeholder="alice"
        type="text"/>
    </div>
  </div>


    <div class="form-group row">
      <label
        class="col-form-label col-sm-2"
        for="roleSelect">
        Role  <sup class="text-danger">*</sup>  :
      </label>
      <div
        class="col-sm-6">
        <select
          [(ngModel)]="role"
          class="form-control"
          id="roleSelect">
          <option selected>Select a role</option>
          <option value="0">Student</option>
          <option value="1">Faculty</option>
        </select>
      </div>
    </div>


    <div class="form-group row">
      <label class="col-sm-2"></label>
      <div class="col-sm-6">
        <button
          class="btn btn-primary btn-block"
          (click)="register()"
           id="registerBtn">Register</button>

        <span class="float-right"><a routerLink="/login">Go back to Login</a></span>
      </div>
    </div>
</div>
